{% extends 'base.html.twig' %}

{% block title %}Admin!{% endblock %}

{% block body %}
    <h1 class="text-center">Welcome
        {% if app.user %}{{ app.user.logginname }}
        {% endif %}
    </h1>

    <p class=" text-center">jij bent een admin.
    <br>jouw dierenland heet: {{ app.user.part }}</p>
    {% for dier in show %}
        <h6> dier name: {{ dier.name }}</h6>
        <h6> beschrijving: {{ dier.description }}</h6>
        <a href="{{ path ('delete',{id: dier.id}) }}" class="btn btn-dark">delete</a>

    {% endfor %}
     <a href="{{ path ('insert') }}" class="btn btn-dark">add</a>



{% endblock %}
